<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5dc57571-8ca9-443d-954a-a2acd03ade8b/resourceGroups/Apps-Akros/providers/Microsoft.Web/sites/RG-Translator</ResourceId>
    <ResourceGroup>Apps-Akros</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rg-translator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rg-translator.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RG-Translator</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RG-Translator</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BlazeConnection_CR" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LSQA01A.akros.local,1433;Initial Catalog=F2P_BOM_CR;Persist Security Info=True;User ID=secWsTransys;Password=WSTLate2018" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BlazeConnection_CR_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LSQA01A.akros.local,1433 ;Initial Catalog=F2P_BOM_CR;Persist Security Info=True;User ID=secWsTransys;Password=WSTLate2018;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BlazeConnection_GT" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LSQA01A.akros.local,1433;Initial Catalog=F2P_BOM_GT;Persist Security Info=True;User ID=secWsTransys;Password=WSTLate2018" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BlazeConnection_GT_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LSQA01A.akros.local,1433 ;Initial Catalog=F2P_BOM_GT;Persist Security Info=True;User ID=secWsTransys;Password=WSTLate2018;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BlazeConnection_NI" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LSQA01A.akros.local,1433;Initial Catalog=F2P_BOM_NI;Persist Security Info=True;User ID=secWsTransys;Password=WSTLate2018" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BlazeConnection_NI_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LSQA01A.akros.local,1433 ;Initial Catalog=F2P_BOM_NI;Persist Security Info=True;User ID=secWsTransys;Password=WSTLate2018;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BlazeConnection_SV" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LSQA01A.akros.local,1433;Initial Catalog=F2P_BOM_SV;Persist Security Info=True;User ID=secWsTransys;Password=WSTLate2018" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BlazeConnection_SV_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LSQA01A.akros.local,1433 ;Initial Catalog=F2P_BOM_SV;Persist Security Info=True;User ID=secWsTransys;Password=WSTLate2018;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BlazeConnection" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LSQA01A.akros.local,1433;Initial Catalog=F2P_GLOBAL;Persist Security Info=True;User ID=secWsTransys;Password=WSTLate2018" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BlazeConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LSQA01A.akros.local,1433 ;Initial Catalog=F2P_GLOBAL;Persist Security Info=True;User ID=secWsTransys;Password=WSTLate2018;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlazeConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlazeConnection_CR-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlazeConnection_GT-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlazeConnection_NI-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlazeConnection_SV-Web.config Connection String" />
  </ItemGroup>
</Project>