<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="F2P.WAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--CONECCION DESARROLLO -->
    <add name="BlazeConnection" connectionString="Data Source=bd_SQL001.rg.rg.akros.tech ;Initial Catalog=F2P_GLOBAL;Persist Security Info=True;User ID=secWsTransys;Password=SecWstrans2018!;" providerName="System.Data.SqlClient" />
    <!--CONECCION PRODUCCION -->
    <add name="BlazeConnection_CR" connectionString="Data Source=bd_SQL001.rg.rg.akros.tech ;Initial Catalog=F2P_BOM_CR;Persist Security Info=True;User ID=secWsTransys;Password=SecWstrans2018!;" providerName="System.Data.SqlClient" />
    <add name="BlazeConnection_GT" connectionString="Data Source=bd_SQL001.rg.rg.akros.tech ;Initial Catalog=F2P_BOM_GT;Persist Security Info=True;User ID=secWsTransys;Password=SecWstrans2018!;" providerName="System.Data.SqlClient" />
    <add name="BlazeConnection_NI" connectionString="Data Source=bd_SQL001.rg.rg.akros.tech ;Initial Catalog=F2P_BOM_NI;Persist Security Info=True;User ID=secWsTransys;Password=SecWstrans2018!;" providerName="System.Data.SqlClient" />
    <add name="BlazeConnection_SV" connectionString="Data Source=bd_SQL001.rg.rg.akros.tech ;Initial Catalog=F2P_BOM_SV;Persist Security Info=True;User ID=secWsTransys;Password=SecWstrans2018!;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--bandera para ejecutar blaze y que este cree el tag de log-->
    <add key="EnableDataBase_Solicitud_Antes" value="true" />
    <add key="EnableDataBase_Solicitud_Despues" value="true" />
    <add key="EnableDataBase_Blaze" value="true" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="EnableXMLFile_Blaze_Antes" value="false" />
    <add key="EnableXMLFile_Blaze_Despues" value="false" />
    <add key="EnableXMLFilePath_Blaze_Antes" value="E:\\XML_BLAZE\\ANTES\\" />
    <add key="EnableXMLFilePath_Blaze_Despues" value="E:\\XML_BLAZE\\DESPUES\\" />
    <add key="EnableDataBase_Solicitud" value="1¬95|" />
    <!--<add key="EnableDataBase_Solicitud" value="true" />-->
    <add key="logEnabledInBlaze" value="false" />
    <add key="Patch_Solicitud" value="E:\WsLogs\\FICO_SOLICITUD\\" />
    <add key="FileNameCreateDLL" value="F2P.BOM.Common.cs" />
    <add key="PathCreateDLL" value="E:\\Users\\marlon.dailey\\Desktop\\ARCHIVOS\\" />
    <!-- INDICADORES DE TIEMPO DE ESPERA PARA LOS HILOS -->
    <add key="SleepTime_BGW" value="2" />
    <!-- INDICADORES DEL APLICATIVO ESTE SALE DE LA TABLA F2P_BOM..BOM_PAR_APLICATIVO -->
    <add key="INT_PK_BOM_PAR_APLICATIVO" value="4" />
    <!-- INDICADORES DE ACCION PARA LA INVOCACION DEL SP DE OBTIENE SP DE APLICATIVOS OPERACION -->
    <add key="PA_CON_OBTIENE_APLICATIVO_INVOCACION" value="1" />
    <add key="PA_CON_OBTIENE_APLICATIVO_RESULTADO" value="2" />
    <!--PK DEL APLICATIVO [TUCA_RESPONSE] PARA LA LOCALIZACION DEL SP DE RESPUESTA SEGUN PAIS -->
    <add key="PK_BOM_PAR_APLICATIVO_TUCA_RESULT" value="2" />
    <!-- Configuracion para identificar donde esta la conexion a base de datos -->
    <add key="F2PUtilitariosConnectionString" value="BlazeConnection" />
    <add key="F2PUtilitariosConnectionTimeout" value="150000" />
    <!-- Configuracion determinar el nombre del aplicativo -->
    <add key="NombreAplicacion" value="F2P.RG.API.TRANSLATE" />
    <!-- Configuracion determinar el Identificador del Pais, en la F2P_GLOBAL, ya que de acuerdo a esto obtiene configuracion con respecto a bitacoras de ejecucion y excepciones-->
    <add key="SIN_FK_UTL_PAR_PAIS_DEFECTO" value="0" />
    <!-- esta tiene que tener los 2 sp para excepciones y bitacoras-->
    <!-- EventLog -->
    <add key="EnableEventLog_Trace" value="false" />
    <add key="EnableEventLog_Error" value="true" />
    <!-- DataBase -->
    <add key="EnableDataBase_Trace" value="false" />
    <add key="EnableDataBase_Error" value="true" />
    <!-- File Log -->
    <add key="EnableFile_Trace" value="false" />
    <add key="Kilobyte_Trace" value="2000000" />
    <add key="Patch_Trace" value="E:\WsLogs\TranslatorCR\Trace\F2P_WCF_1TO1_Trace.txt" />
    <add key="Patch_BackupTrace" value="E:\WsLogs\TranslatorCR\Backup\Trace\" />
    <add key="EnableFile_Error" value="true" />
    <add key="Kilobyte_Error" value="2000000" />
    <add key="Patch_Error" value="E:\WsLogs\TranslatorCR\Error\F2P_WCF_1TO1_Error.txt" />
    <add key="Patch_Backup_Error" value="E:\WsLogs\TranslatorCR\Backup\Error\" />
    <add key="EnableXMLFile_Blaze_Antes" value="0" />
    <add key="EnableXMLFile_Blaze_Despues" value="0" />
    <!--LLAMADO A BLAZE EN DIFERENTES PAISES-->
    <add key="BlazeUri_CR" value="http://blazecr.akros.tech/CR_Blaze/BlazeService.asmx" />
    <add key="BlazeUri_GT" value="http://blazegt.akros.tech/GT_Blaze/BlazeService.asmx" />
    <add key="BlazeUri_NI" value="http://blazeni.akros.tech/NI_Blaze/BlazeService.asmx" />
    <add key="BlazeUri_SV" value="http://blazesv.akros.tech/SV_Blaze/BlazeService.asmx" />
    <!-- Validadores de indentificacion-->
    <add key="ValidaDatosGenerales" value="false" />
    <add key="Identificacion_CR" value="^[1-9]{1}[0-9]{8}$" />
    <add key="Flag_Identificacion_CR" value="true" />
    <add key="Identificacion_GT" value="^[0-9]{4}\s?[0-9]{5}\s?[0-9]{4}$" />
    <add key="Flag_Identificacion_GT" value="true" />
    <add key="Identificacion_SV" value="(^\d{8})-?(\d$)" />
    <add key="Flag_Identificacion_SV" value="true" />
    <add key="Identificacion_NI" value="(\d{13})([A-Z]$)" />
    <add key="Flag_Identificacion_NI" value="true" />
    <add key="Sp_Config_Reg" value="VEN_CAT_EXPRESION_REGULAR_GET" />
    <add key="LLAVE_BUSQUEDA" value="REQUERIDOS_BLAZE_" />
    <add key="LLAVE02" value="TRANSLATER_API_" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="bitImprimeConexion" value="false" />
    <!--validador de protocolo de seguridad de tuca tls-->
    <add key="ValidaProtocolosSSLTSL" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Buffered">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <applicationSettings>
    <F2P.WAP.Properties.Settings>
      <setting name="F2P_WAP_TU_Consulta_TU_Consulta" serializeAs="String">
        <value>http://test.transunioncentroamerica.com/sts/TU_Consulta.asmx</value>
      </setting>
    </F2P.WAP.Properties.Settings>
  </applicationSettings>
</configuration>
<!--ProjectGuid: {276567F7-2EA0-4333-B53C-B0120B3C34B2}-->
<!--ProjectGuid: 276567F7-2EA0-4333-B53C-B0120B3C34B2-->